.contact-page {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.contact-content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.info-contact,
.form {
  box-shadow: 0 4px 8px #0002;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.info-contact {
  width: 40%;
  max-width: 325px;
}

.form {
  width: 60%;
  max-width: 500px;
}

.contact-area-title {
  font-size: 26px;
  margin-bottom: 18px;
}

.contact-label-item {
  text-align: start;
  margin: 10px 0;
  padding-left: 3px;
  color: #4b5563;
  font-size: 14px;
  font-weight: 600;
}

/*-------INFORMACION-------*/

.info-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-item {
  padding: 8px;
  background-color: #e5e7eb;
  border-radius: 10px;
  text-align: start;
}

.info-button {
  margin-top: 15px;
}

/*------ENVIAR MENSAJE-------*/

.form .contact-label-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input {
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #4b5563;
}

.contact-label-item textarea {
  resize: none;
}

.form-submit {
  letter-spacing: 1.6px;
  margin-top: 15px;
}