.home-content {
  display: grid;
  grid-template-areas: 
    "title img"
    "desc img"
    "info img"
    "buttons img"
  ;
  max-width: 1200px;
  padding: 40px;
  margin: auto;
  min-height: 100vh;
  align-content: center;
}

.home-title {
  grid-area: title;
  font-size: 3em;
  color: #111827;
  margin-bottom: 20px;
  text-wrap: balance;
}

.home-desc {
  font-size: 1.1em;
  grid-area: desc;
  color: #4b5563;
  margin-right: 100px;
  text-wrap: balance;
}

.description span {
  color: #111827;
  font-weight: bold;
}

.info {
  grid-area: info;
  color: #4b5563;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}

.location,
.state {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-self: center;
}

.dot {
  background-color: rgb(8, 167, 8);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 5px;
}

.img-mask {
  width: 20px;
  height: 20px;
}

.img-mask>img {
  width: 100%;
  height: 100%;
}

.home-buttons-container {
  grid-area: buttons;
  display: flex;
  gap: 10px;
  align-self: self-end;
}

.personal-img-mask {
  grid-area: img;
  max-width: 300px;
  max-height: 300px;
  align-self: center;
  transition: transform 300ms;
}

.personal-img-mask:hover {
  transform: scale(1.2);
}

.personal-img-mask img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 10px 10px 15px #0007;
}

@media (max-width: 850px) {
  .home-content {
    grid-template-areas: 
      "img"
      "title"
      "desc"
      "info"
      "buttons"
    ;
    text-align: center;
  }

  .personal-img-mask {
    justify-self: center;
    max-width: 250px;
    max-height: 250px;
  }

  .home-title {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 2em;
  }

  .home-desc {
    margin: 0;
    font-size: 0.9em;
    text-wrap: pretty;
  }

  .info {
    margin: 15px 0;
    font-size: 0.8em;
    flex-direction: row;
    justify-self: center;
    gap: 10px;
  }

  .location,
  .state {
    gap: 3px;
  }

  .dot {
    margin: 0;
    margin-right: 3px;
  }

  .home-buttons-container {
    justify-self: center;
  }
}