.header {
  display: flex;
  width: 80%;
  height: 70px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 26px;
  font-weight: bold;
}

.header-title>a {
  text-decoration: none;
  color: #030712;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;

}

.nav-button a {
  font-size: 18px;
  font-weight: 500;
  color: #4b5563;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  transition: all 200ms;
}

.nav-button:hover>a {
  color: #111827;
  border-bottom: 2px solid #000;
}

