.header {
  display: flex;
  width: 80%;
  padding: 20px 0;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 26px;
  font-weight: bold;
}

.header-title>a {
  text-decoration: none;
  color: #030712;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.link {
  font-size: 18px;
  font-weight: 400;
  color: #4b5563;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding: 5px;
  padding-bottom: 3px;
  cursor: pointer;
  transition: all 300ms;
}

.link:hover {
  color: #111827;
  border-bottom: 2px solid #000;
}

.active {
  color: #111827;
  font-weight: bold;
}