.projects-content {
  margin: auto;
  max-width: 1200px;
  text-align: center;
}

.projects-filter {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.projects-filter-item {
  border: none;
  box-shadow: 0 3px 2px #0004;
  cursor: pointer;
  transition: all 200ms;
}

.projects-filter-item:hover {
  transform: scale(1.1);
}

.projects-filter-item-active {
  background-color: #111827;
  color: #fff;
}

.projects-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 20px;
  padding-top: none;
}

/*---------PROJECT CARD---------*/

.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  transition: all 200ms;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0002;
}

.project-card:hover {
  transform: scale(1.03);
}

.project-card-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 4px 3px #0001;
}

.project-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 200ms;
}

.project-card-title {
  margin: 25px 15px;
  margin-bottom: 15px;
  font-size: 23px;
}

.project-card-desc {
  margin-left: 15px;
  color: #4b5563;
  text-align: start;
}

.project-card-tec-container {
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.project-card .button {
  margin-left: 15px;
  margin-bottom: 15px;
}