.footer {
  padding: 20px 0;
  font-size: 14px;
  font-weight: 300;
  color: #4b5563;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 4px #4b556311;
}

.footer a{
  color: #4b5563;
  transition: color 200ms;
  text-decoration: underline;
}

.footer a:hover {
  color: #111827;
}