.footer {
  height: 70px;
  font-size: 14px;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a{
  color: #666;
  transition: color 200ms;
}

.footer a:hover {
  color: #000;
}