.footer {
  padding: 35px 0;
  font-size: 14px;
  color: #4b5563;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a{
  color: #4b5563;
  transition: color 200ms;
}

.footer a:hover {
  color: #111827;
}